body{ background:#213007;
}
#start {background:#729157;
    position: relative;
    margin: 10px  60px;
    width: 89vw;    
}

.navigation, ul , li{
    display: inline;
    margin-left: 150px;
    text-align: center;  
    text-decoration:  none; 
}
.letter, a{
    color:#000000;
    text-decoration:  none; 
    font-weight: bolder;
}

.nature, img{display:block;
    margin: auto;
    margin-top: 20px;
    width: 89vw;
    height: 90vh;
}
.base{
    background:#729157;
    position: relative;
    margin: 15px  -5px 5px 60px;
    width: 89vw; 
    height:38vh;
}
.base,ul,  li, a{
    color:#000000;
    text-decoration:  none; 
    font-weight: bolder;  
}
.format1,  li{
    text-align: center;
}
.format1, h1{
    text-align: center;
}

